# dependencies
/node_modules

# production
/build
/release
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
!.vscode/settings.json

# Local history
.history

*.eslintcache
